:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --font-family: "Inter", sans-serif;
  }  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.75rem;
}

ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    font: normal 500 1rem/1.5rem var(--font-family);
    color: var(--text-color);
}

.botoes {
    display: flex;
    gap: 1.875rem;
}

[data-botao="entrar"] {
    font: normal 500 1rem/1.5rem var(--font-family);
    color: var(--text-color);
    border: none;
}

[data-botao="cadastrar"] {
    font: normal 500 1rem/1.5rem var(--font-family);
    color: #FFFFFF;
    padding: .625rem 1.125rem;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 8px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 6rem 0;
}

header span {
    font: normal 600 1rem/1.5rem var(--font-family);
    color: var(--main-color);
}

header h1 {
    font: normal 600 3rem/3.75rem var(--font-family);
    letter-spacing: -2%;
}

header p {
    width: 49.4375rem;
    height: 3.75rem;
    font: normal 400 1.25rem/1.875rem var(--font-family);
    color: var(--text-color);
}

