:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --title-color: #101828;
    --font-family: "Inter", sans-serif;
  }  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.75rem;
}

ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    font: normal 500 1rem/1.5rem var(--font-family);
    color: var(--text-color);
}

.botoes {
    display: flex;
    gap: 1.875rem;
}

[data-botao="entrar"] {
    font: normal 500 1rem/1.5rem var(--font-family);
    color: var(--text-color);
    border: none;
}

[data-botao="cadastrar"] {
    font: normal 500 1rem/1.5rem var(--font-family);
    color: #FFFFFF;
    padding: .625rem 1.125rem;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 8px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 6rem 0;
}

header span {
    font: normal 600 1rem/1.5rem var(--font-family);
    color: var(--main-color);
}

header h1 {
    font: normal 600 3rem/3.75rem var(--font-family);
    letter-spacing: -2%;
    color: var(--title-color);
}

header p {
    width: 49.4375rem;
    height: 3.75rem;
    font: normal 400 1.25rem/1.875rem var(--font-family);
    color: var(--text-color);
}

.metricas-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 6.25rem 7rem 0;
    padding-bottom: 13.5rem;
    gap: 2rem;
}

.metricas-container div {
    width: 17.5rem;
    height: 10.5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.metricas-container div h2 {
    font: normal 600 3.75rem/4.5rem var(--font-family);
    letter-spacing: -2%;
    color: var(--main-color);
}

.metricas-container div h3 {
    font: normal 500 1.125rem/1.75rem var(--font-family);
    color: var(--title-color);
}

.metricas-container div p {
    font: normal 400 1rem/1.5rem var(--font-family);
    color: var(--text-color);
}

.talentos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top: 6.25rem;
}

.talentos-container span {
    font: normal 500 .875rem/1.25rem var(--font-family);
    color: var(--main-color);
    background-color: rgba(142, 36, 36, 5%);
    padding: .25rem .75rem;
    border-radius: 16px;
}

.talentos-container h2 {
    font: normal 600 2.25rem/2.75rem var(--font-family);
    letter-spacing: -2%;
    color: var(--title-color);
}

.talentos-container p {
    font: normal 400 1.25rem/1.875rem var(--font-family);
    color: var(--text-color);
    margin-bottom: 2.75rem;
}
